<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
        <title>{{ escape(handler.settings["title"]) }}</title>
    </head>
    <body onload="init()">
        <div>
            <script language="javascript">
                function getParams() {
                    var params = [];
                    if (window.location.search.length > 1) {
                        var vars = window.location.search.substr(1).split("&");
                        for(var key in vars) {
                            var kv = vars[key].split('=');
                            params[kv[0]] = kv[1];
                        }
                    }
                    return params;
                }

                function init() {
                    var value = getParams();
                    if (typeof(value.sid) == "undefined" || value.sid == "") {
                        value = window.name;
                        window.name = "";
                        if (value == "") {
                            document.write('<div id="body">{% if current_user %}<a href="/cloudprint/auth/logout">Logout</a>{% else %}<a href="/cloudprint/register">Login</a>{% end %}</div>');
                            return;
                        }
                        value = eval('(' + value + ')');
                    }
                    url = location.search;
                    if (url.indexOf("?") != -1) { 
                        location = "/cloudprint/auth/login" + url + "&sid=" + value.sid + "&secret=" + value.secret;
                    }
                    else {
                        location = "/cloudprint/auth/login" + "?sid=" + value.sid + "&secret=" + value.secret;
                    }
                }
            </script>
        </div>
    </body>

</html>
